<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>$(OPENAI_API_KEY)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Neto uses the microphone to record voice input for creating transactions. Your audio is processed to extract expense details.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.jurgenschmidt.yala.daily</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>IconDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconLight</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconLight</string>
			</dict>
			<key>AppIconNeon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconNeon</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>IconOriginal</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>IconDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconLight</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconLight</string>
			</dict>
			<key>AppIconNeon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconNeon</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>IconOriginal</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
</dict>
</plist>
